.aboutSection{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.aboutSection h3{
    font-size: 1.5rem;
    margin-bottom: 0rem;
    color: var(--primary-color-3)

}
.aboutSection .cont-about{
    display: flex;
    flex-direction: column;
}
.about .cont-foto{
    width: 200px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.about .cont-foto img{
    border-radius: 50%;
    width: 100%;
    height: auto;
    display: block;
}

.about{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cont-about .about-description p{
    padding: 10px 40px;
}
.cont-about .about-description span{
    color: var(--secondary-color);
}
.cont-about .cont-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-about .cont-skills h2{
    color: var(--primary-color-3);
    font-size: 3000px;
}
.cont-skills .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.cont-skills .skills span{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    box-sizing: border-box;
    text-align: center;
}
@media (min-width: 768px) {
    .cont-skills .skills span{
        width: 190px;
        height: 190px;
    }
}

@media (min-width: 1024px) {
    .about{
        width: 50%;
    }
    .cont-skills{
        width: 50%;
    }
    .aboutSection .cont-about {
        flex-direction: row;
    }
}

@media (max-width: 1280px) {

}