.contact{
    max-width: none;
    position: relative;
    background: 
    linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 1)), 
    url(../assets/common-bg.svg);
    display: flex;
    flex-direction: column;
}
.contactContainer{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.contactContainer p{
    margin: 20px 0 40px 0;
    padding: 0 .5rem ;
}
form{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 40px;
    background-color: white;
    margin-bottom: 200px;
}
.form__group{
    position: relative;
    color: black;
    margin-bottom: 30px;
}
textarea{
    resize: none;
    width: 100% !important;

}
form .input{
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: black;
    padding: .6em .3em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;

}
form label{
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.input:focus + label,
.input:not(:placeholder-shown) + label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    background-color: white;
}
.btn_form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn_form{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    background-color: var(--primary-color);
    color: white;
    padding: .8rem 2rem;
    font-size: 1rem;
    border-radius: .3rem;
    font-weight: 700;
    transition: all .3s ease;
    width: 200px;
    text-align: center;
    border: none;
}
.btn_form:hover{
    background-color: var(--primary-color-4);
    color: white;
}
