
.home{
    position: relative;
    width: 100%;
    background: 
    linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 1)), 
    url(../assets/common-bg.svg);
    height: vh;
    padding-top: 120px;
    display: flex;
    
}
.hero-home-inf{
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    text-align: center;
}
.hero-home-inf h1 {
    font-size: 3rem;
    margin: 30px 0;
}
.hero-home-inf .hero-home-description{
    width: 800px;
    font-size: 1.1rem;
}
.hero-home-description span{
    color: var(--secondary-color);
}
.hero-home-inf .hero-home-button{
    margin-top: 80px;
}
.button{
    margin: 0 1rem;
    background-color: var(--primary-color);
    color: black;
    padding: .8rem 2rem;
    font-size: 1rem;
    border-radius: .3rem;
    font-weight: 700;
    transition: all .3s ease;
}
.button:hover{
    background-color: var(--primary-color-4);
    color: white;
}
.hero-home-email{
    margin-top: 2rem;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .hero-home-inf .input-hero-home{
    background-color: white;
    width: 300px;
    height: 2rem;
    text-align: center;
    border: 1px solid rgb(135, 135, 135);
    outline: none;
    cursor: default;
    border-radius: 10px;
}
.home .hero-home-inf .btn-hero-copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .3rem;
    height: 2rem;
    width: 4rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
}

.home .hero-home-inf .btn-hero-copy:hover{
    background-color: var(--primary-color-4);
}
.home .hero-home-inf .btn-hero-copy img{
    color: white;
    width: 1.2rem;
}

#btn{
    cursor: pointer;
}
.custom-swal-wide{
    width: 25px;
}
.home-hero__mouse-scroll-cont {
    margin: 100px 0;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}
.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}