:root {
    --primary-color: #7843E9;
    --primary-color-suave: #dcd7fd;
}

.social {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: .3rem;
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-social {
    background-color: #fff;
    width: 3rem;
    border-radius: .5rem;
    transition: all 0.3s;
    display: inline-block; 
}

.img-social a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
}

.img-social img {
    width: 100%;
    height: auto;
    display: block; 
}

.img-social:hover {
    background-color: var(--primary-color-suave);
}

.correo-color {
    background-color: black;
}
