.social{
    background-color: #fff;
    padding: .3rem;
    width: fit-content;
}
.img-social{
    width: 3rem;
}
.img-social a{
    width: 100%;
    display: block;
    padding: .4rem;
    transition: background-color .3s easi;
}
.img-social img{
    width: 100%;
}
.img-social:hover{
    background-color: var(--);
}
