#root{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body{
    font-family: "Onest", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}
.headerB{
    width: 100%;
    padding: 15px 0;
    background-color: var(--primary-blog);
    color: white;
    border-bottom: 1px solid var(--border-blog);
}
.headerB .header_content{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
.headerB .header__logo-container{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.headerB .header__logo-container:hover{
    color: white;
}
.headerB .header_main {
    display: none;
    justify-content: center;
    align-items: center;
}
.headerB .header_main ul{
    display: flex;
    
}
.headerB .header_main ul li{
    color: white;
    
}
.headerB .header_main ul li a{
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease ;
    padding: 1.5rem 1.5rem;
}

.headerB .header_main ul li p{
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease ;
    padding: 1.5rem 1.5rem;
}
.headerB .header_main ul li p:hover{
    color: white;
}
.headerB .header__logo-sub{
    font-weight: 600;
    letter-spacing: 1px;
}
.headerB .header__logo-img-cont {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    
}
.headerB .imagen-perfil{
    background-color: var(--primary-blog);
    width: 100%;
    height: 100%;
}
.headerB .header_main-responsive{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}


@media (min-width: 840px) {
    .headerB{
        position: fixed;
        z-index: 1;
    }
    .headerB .header_content{
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        justify-content: space-between;
        padding: 0px 20px;
        height: 48px;
    }
    .headerB .header_main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
